<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<meta charset="utf-8" />
<title>Hello Django</title>
</head>
<body>



<center>
<table width="900" height="700">
<tr>
<td bgcolor="#c0e4ff" valign="top"><img src="{% static "images/mont.JPG" %}"></td>
<!-- ниже ссылка(остальные картинки)-->
<td bgcolor="#c5ffa0" valign="top"><center><a href="https://metanit.com/python/tutorial/"> <img src="{% static "images/mont.JPG" %}" alt="HTML tutorial"></center></td>
<td bgcolor="#c0e4ff" align="right" valign="top"><img src="{% static "images/mont.JPG" %}"></td>
</tr>
<tr>
<td bgcolor="#c5ffa0"><img src="{% static "images/mont.JPG" %}"></td>
<td bgcolor="#ffa0c5"><center>5</center></td>
<td bgcolor="#c5ffa0" align="right">6</td>
</tr>
<tr>
<td bgcolor="#c0e4ff" valign="bottom"><img src="{% static "images/mont.JPG" %}"></td>
<td bgcolor="#c5ffa0" valign="bottom"><center>8</center></td>
<td bgcolor="#c0e4ff" align="right" valign="bottom">9</td>
</tr>
</table>
</center>

</body>
</html>
